.footer {
    min-height: auto;
    width: 100%;
    padding: 1rem 4rem 0.9rem;
    margin-top: 150px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    gap: 2rem;

    font-family: $fuente-principal;
    background: $color-fondo-rosa;
    background-size: cover;
    background-position: center;

    /* NAV */
    nav {
        margin-top: 0.6rem;
        align-self: end;
        justify-self: end;
        transform: translateY(8px);

        margin-right: 90px;

        .menu-footer {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        gap: 0.35rem;

        a {
            color: $color-texto;
            text-decoration: none;
            font-size: 0.98rem;
            font-family: $fuente-principal;
            @include hover-opacidad(1, .85);
        }
        }
    }
    
    .pie {  /* BLOQUE PIE */
            h3 {
                font-size: 1.5rem;
                margin: 1rem 0 0.6rem;
                font-family: $fuente-principal;
                color: $color-texto;
            }

            a {
                font-size: 1rem;
                color: $color-texto;
                font-family: $fuente-principal;
                text-decoration: none;
                @include hover-opacidad(1, .85);
            }

            p {
                font-size: 1rem;
                color: $color-texto;
                margin: 0.4rem 0 0;

                a {
                    text-decoration: none;
                    @include hover-opacidad(1, .85);
                }
            }
        }

    .logo-footer { /* LOGO DERECHA */
        text-align: right;
        transform: translateY(-15px);

        h2 {
            font-size: 2.8rem;
            letter-spacing: 3px;
            font-family: $fuente-principal;
            color: $color-texto;
            margin: 0;
        }
    }

    .derechos { /* DERECHOS */
        grid-column: 1 / -1;
        border-top: 1px solid $color-linea;
        margin-top: 1.2rem;
        padding-top: 0.6rem;
        font-size: 0.75rem;
        color: $color-texto;
        text-align: center;
        font-family: $fuente-secundaria;

        p { margin: 0; }
    }
}
