header {
    .menu-principal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        gap: 1rem;
        background: $color-fondo-rosa;
    }

    nav {
        .menu {
        list-style: none;
        display: flex;
        align-items: center;
        font-family: $fuente-principal;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 0;             
        padding: 0;
        gap: 3rem;             
            a {
                text-decoration: none;
                font-weight: bold;
                color: $color-texto;
                @include hover-opacidad(1.10);  
            }
        }
    }
}