.sobre{
    padding: 3rem 1.5rem;
    }

.sobre-titulo{
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 3rem;
    font-family: $fuente-principal;
    color: $color-texto;
    }

.sobre-contenido{
    max-width: 1100px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 3rem;
    align-items: start;

    .sobre-texto{
        p{
            font-family: $fuente-principal;
            font-size: 1.1rem;
            line-height: 1.75;
            color: $color-texto;
            margin-bottom: 1.2rem;
        }
    }

    .sobre-imagen{
        .local-img{
            width: 100%;
            max-width: 420px;
            height: auto;
            display: block;
            margin: 0 auto;

            border-radius: $radio-lg;
            box-shadow: $sombra-fuerte;
            transform: translateY(70px);
            transition: transform 0.3s ease;

            &:hover{
                transform: translateY(65px);
            }
        }
    }

    .frase-destacada{
            grid-column: 1 / -1;
            width: min(900px, 92vw);
            margin: 1.5rem auto 0;
            padding: 25px 28px;
            border-radius: 20px;
            background: $color-fondo-rosa;
            box-shadow: $sombra-media;
            text-align: center;
            transform: translateY(-20px);

        p{
            margin: 0;
            color: #41393E;
            font-weight: 600;
            line-height: 1.5;
            font-family: $fuente-principal;
        }
    }
}