/* TIPOGRAFÍAS */
$fuente-principal: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$fuente-secundaria: Georgia, "Times New Roman", Times, serif;

/* COLORES */
$color-texto: #000;
$color-texto-suave: #6f6f6f; 
$color-fondo: #ffd0e4;
$color-fondo-rosa: #ffd0e4;
$color-borde: rgb(248, 158, 215);
$color-linea: rgb(174, 174, 174); // para líneas divisorias

/* COLORES BOTONES */
$color-boton: #f6c3d8;  
$color-boton-hover: #f4a9c8;

/* RADIOS */
$radio-sm: 8px; // radio para elementos pequeños 
$radio-md: 18px; // radio para elementos medianos
$radio-lg: 20px; // radio para elementos grandes pero con un toque más moderno
$radio-pill: 999px; // radio para elementos como botones 

/* SOMBRAS */
$sombra-suave: 0 10px 25px rgba(0,0,0,0.06);
$sombra-media: 0 14px 32px rgba(0,0,0,0.08);
$sombra-fuerte: 0 18px 40px rgba(0,0,0,0.15);


